* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background: #bebcbc94;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  background: white;
}
.left_section {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
  width: 100%;
}
.logo {
  width: 134px;
}
.input_section {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 0.5px solid silver;
  padding: 8px 8px;
  border-radius: 5px;
  min-width: 60%;
  gap: 4px;
}
.input_section > img {
  width: 20px;
}
.input_section input {
  border: none;
  outline: none;
  min-width: 80%;
}
.right_section {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}
.dropdown_city {
  outline: none;
  border: none;
}
.right_section > button {
  background: rgb(248, 68, 100);
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  width: 67px;
  border: none;
  color: white;
  border-radius: 4px;
}

.list_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 10px 0;
}

.lists {
  display: flex;
  gap: 14px;
}
.list_section > .lists li {
  list-style: none;
  font-size: 14px;
}
