* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  background: rgb(226, 225, 225);
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  margin: auto;
  padding: 0 15%;
}
.left_section {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
  width: 100%;
}
.logo {
  width: 134px;
}
.input_section {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 0.5px solid silver;
  padding: 8px 8px;
  border-radius: 5px;
  min-width: 60%;
  gap: 4px;
}
.input_section > img {
  width: 20px;
}
.input_section input {
  border: none;
  outline: none;
  min-width: 70%;
}
.right_section {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}
.dropdown_city {
  outline: none;
  border: none;
}
.right_section > button {
  background: rgb(248, 68, 100);
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  width: 67px;
  border: none;
  color: white;
  border-radius: 4px;
}

.list_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 10px 0;
}

.lists {
  display: flex;
  gap: 14px;
}
.list_section > .lists li {
  list-style: none;
  font-size: 14px;
}
.line {
  color: silver;
}

.movie_section_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 4px 0;
}
.heading_link_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

a {
  text-decoration: none;
}

.heading_link_section > a {
  color: red;
  font-size: 16px;
}

.heading_link_section > h1 {
  font-size: 24px;
}

.movie_card_section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.cardContainer {
  width: 220px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}
.cardContainer > img {
  width: 100%;
  min-height: 80%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.rating {
  background: #000;
  color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 0.5rem;
  font-weight: 100;
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 0.5rem;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 18px;
  padding: 4px;
}
.banner_section {
  width: 70%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.banner_section > img {
  object-fit: cover;
  width: 100%;
}
.entertainment_section_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 70%;
  font-size: 24px;
  margin: auto;
  padding-bottom: 4rem;
}

.entertainment_section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.entertainment_section > img {
  width: 222px;
  border-radius: 10px;
}
.section_premier {
  background: #2b3149;
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 2rem 0;
}
.premier_section {
  width: 70%;
  margin: auto;
}
.premier_heading {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 1rem;
  margin-bottom: 8px;
}
.premier_heading > h1 {
  font-size: 24px;
}

.search_container_section {
  background: rgb(226, 225, 225);
}

.trend_heading {
  padding: 0 15%;
  padding-top: 0.5rem;
}

.search_section {
  padding: 4rem 15%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  gap: 2rem;
}

.text_card {
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 2rem;
}

.text_card > h1 {
  font-size: 20px;
  color: red;
}
.text_card > p {
  color: gray;
  font-size: 14px;
}

.contact_today {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 15%;
  background: #313035;
  color: white;
  gap: 1rem;
}

.btn {
  display: flex;
  background: #ec5e71;
  color: white;
  padding: 10px 20px;
  border: #ec5e71;
  font-size: 18px;
  margin-left: 6rem;
}
.customer_care {
  display: flex;
  background: #404043;
  padding: 20px 15%;
  justify-content: space-around;
  align-items: center;
}
.customer_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  color: #77777a;
}
.customer_card > img {
  width: 80px;
}

.customer_card :hover {
  color: white;
  cursor: pointer;
}
